//farger
$darkblue : #07253F;
$blue : #104a7e;

//fonter
$sans-serif : 'Josefin Sans', Arial, sans-serif;
$button-sans-serif : 'Open Sans', Arial, sans-serif;

//fontstørrelser
$pxl : 16px;
$h2xl : 32px;
$h3xl : 24px;

$pxs : 14px;