@import "partials/variables";
@import "partials/cols";


* {
	padding:0;
	margin:0;
}
h2, h3 {
	font-family:$sans-serif;
	font-weight:700;
	color:white;
}
p {
	font-family:$sans-serif;
	color:white;
}
hr {
	border-left:none;
	border:1px solid white;
}
button {
	font-family:$button-sans-serif;
	font-size:$pxs;
	background:white;
	color:$blue;
	border:none;
	padding:10px;
	font-weight:700;
	cursor:pointer;
}
.page {
	&__wrap {
		margin:0 auto;
		overflow:hidden;
		width:1280px;
		position:relative;
	}
}
.header {
	box-sizing:border-box;
	padding:40px 50px;
	position:relative;
	z-index:4;
	background:white;
	&__logo {
		height:25px;
		vertical-align:top;
		//bare for å virke litt interaktivt hehe
		cursor:pointer;
		&--main {
			height:50px;
		}
		&--small {
			margin-left:15px;
			display:inline-block;
		}
	}
	&--left {
		position:absolute;
		right:50px;
		top:50px;
	}
	&__form {
		display:none;
		margin-left:15px;
		margin-right:-15px;
		&--input {
			outline:none;
			transition:width .2s linear;
			font-size:$pxl;
			font-family:$sans-serif;
			height:25px;
			width:0px;
			border:none;
			border-bottom:2px solid $blue;
		}
	}
}
.dd-menu {
	position:relative;
	&--open {
		margin-top:0px!important;
	}
	ul {
		position:absolute;
		display:block;
		width:100%;
		box-sizing:border-box;
		margin-top:-100%;
		list-style-type:none;
		text-align:right;
		padding:20px 50px;
		transition:all .6s linear;
		background:$blue;
		line-height:2;
		z-index:3;
	}
	&__main {
		font-size:$h3xl;
		font-family:$sans-serif;
		font-weight:700;
	}
	a {
		display:block;
		text-decoration:none;
		color:white;
		transition:opacity .1s linear;
	}
	a:hover {
		opacity:0.5;
	}
}
.slideshow {
	height:600px;
	background: url("../media/img/AI_Image.jpg")no-repeat center;
  	background-size:auto 100%;
  	position:relative;
  	&__title {
  		position:absolute;
  		margin:50px;
  		bottom:150px;
  		font-size:24px;
  	}
  	&__button {
  		position:absolute;
  		bottom:75px;
  		margin:50px;
  	}
  	&__pips {
  		position:absolute;
  		right:50px;
  		bottom:50px;
  		.pip {
  			display:inline-block;
  			width:10px;
  			height:10px;
  			border:2px solid white;
  			border-radius:50%;
  			margin-right:20px;
  			background:white;
  			&--current {
  				background:transparent;
  			}
  		}
  	}
}
.ski {
	background:$darkblue;
  	padding:20px 50px;
  	box-sizing:border-box;
  	&__icon__wrap {
  		display:flex;
		justify-content:space-between;
		margin:0 auto;
  	}
  	&__title {
  		text-align:center;
  		font-size:18px;
  		margin-bottom:10px;
  	}
	&__icon {
		width:100%;
	}
	li {
		list-style-type:none;
		display:inline-block;
	}
}
.news {
	&__content {
		display:inline-block;
		padding:30px 10px 100px 50px;
		background:$blue;
		position:relative;
		z-index:2;
		&--first {
			color:white;
			font-size:28px;
		}
		&--second {
			color:white;
			opacity:0.6;
			font-size:28px;
			margin-bottom:30px;
		}
		&--text {
			font-weight:700;
			margin-bottom:30px;
			font-size:$pxl;
		}
	}
	&__icon {
		display:inline-block;
		width:75px;
		margin:0px 15px 30px 0px;
	}
	&__ill {
		display:inline-block;
		background:url("../media/img/AZA1bD.jpg")no-repeat center right;
		background-size:auto 100%;
		position:relative;
		&__img {
			position:absolute;
			right:50px;
			top:30%;
			z-index:1;
		}
	}
	.checkmark {
		width:15px;
		height:15px;
	}
}
.product {
	padding:50px 50px;
	&__title {
		color:$blue;
		margin-bottom:20px;
		font-weight:700;
		font-size:$h2xl;
	}
	&--new::after {
		display:block;
		position:absolute;
		top:10px;
		right:10px;
		content:"";
		width:50px;
		height:50px;
		background:url("../media/icons/ikon-nyhet-blå.svg")no-repeat center center;
		background-size:100%;
		z-index:2;
	}
}
.article {
	background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/img/9vwFt1.jpg")no-repeat center left;
	background-size:150%;
	padding:50px;
	padding-bottom:150px;
	&__title {
		font-size:$h2xl;
	}
	&__text {
		font-size:$pxl;
		padding:30px 0px;
	}
	button {
		color:black;
	}
}
.footer {
	background:$blue;
	padding:50px;
	&__links {
		.image__grid {
			margin:30px 0px;
			&__desc {
				text-align:left;
			}
		}
	}
	&__contact {
		span {
			display:block;
		}
		span p, &--icon {
			display:inline-block;
			width:20px;
		}
		&--icon {
			margin-right:10px;
		}
		.image__grid {
			margin:30px 0px;
			li {
				display:inline-block;
				vertical-align:top;
			}
		}
		h3 {
			margin-bottom:20px;
		}
		p {
			font-size:14px;
			line-height:1.8;
		}
	}
}
.ambassadors {
	&__title {
		font-size:$h2xl;
	}
	.image__grid {
		margin:30px 0px;
	}
}
.image__grid {
	width:100%;
	display:flex;
	justify-content:space-between;
	&__img {
		width:100%;
		vertical-align:top;
	}
	&__desc {
		background:$blue;
		font-size:$pxl;
		text-align:center;
		padding:10px 0px;
		vertical-align:bottom;
	} 
	li {
		width:22%;
		list-style-type:none;
		border:2px solid $blue;
		position:relative;
		z-index:1;
	}
	p {
		font-size:$pxs;
	}
}
@import "partials/media";